* {
    box-sizing: border-box;
}

    body {
    display: flex;
    flex-direction: column;
}

.topSection {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

button {
    height: fit-content;
    border-radius: 7px;
    background-color: darkcyan;
    color: white;
    border: 0px;
    padding: 5px 15px;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1.5px;
}

table {
    border-collapse: collapse;
    margin: auto;
}

th {
    border-bottom: 2px solid black;
    text-align: left;
}

td {
    width: 150px;
}

.modal {
    position: fixed;
    transform: translate(-50%, -50%) scale(1);
    top: 50%;
    left: 50%;
    border-radius: 5px;
    border: 2px solid black;
    width: 80%;
    max-width: 350px;
}

.modalHeader {
    font-weight: bold;
    padding: 10px;
    box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modalHeader h2{
    margin: 0;
}

.modalHeader input[type='button']{
    background-color: white;
    border: none;
    width: auto;
    font-size: 20px;
}

.modal form {
    display: grid;
    grid-template-columns: 3fr 2fr;
    row-gap: 5px;
    padding: 10px;
    font-family: monospace;
}

.modal input {
    font-family: monospace;
    width: 100%;
}

.modal .submitBtn {
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    justify-content: center;
}

.active {
    transform: scale(1);
}